<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <form action="/predict" method="post">
            <label for="custom_string">Enter your review:</label><br>
            <textarea id="custom_string" name="custom_string" rows="4" cols="50"></textarea><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
